.App {
  text-align: center;
}

.home,
.jobs,
.details,
.job-edit,
.events,
.support {
  display: flex;
  margin: 20px 20px 20px 260px;
}

.form {
  margin: auto;
  width: 50%;
}

.pagination-container {
  position: fixed;
  bottom: 20px;
  right: 20px
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px;
}

.css-yceqcy-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}