.App {
  text-align: center;
}

.home,
.jobs,
.reports,
.contact,
.events,
.support {
  display: flex;
  margin: 20px 20px 20px 260px;
}

.form {
  margin: auto;
  width: 50%;
}

.pagination-container {
  position: fixed;
  bottom: 20px;
  right: 20px
}